@using VideoSharingPlatform.Core.Entities.VideoAggregate;
@using VideoSharingPlatform.Core.Enums;
@model Reaction?

@{
    var videoId = Model is not null ? Model.VideoId : ViewData["video_id"];
    var commentId = Model is not null ? Model.CommentId : ViewData["comment_id"];

    var url = "/videos/" + videoId + (commentId is not null ? "/" + commentId : "") + "/react";
}

<div id="reaction-box">
    <button
        class='btn @(Model?.Type == ReactionType.Like ? "btn-primary" : "btn-outline-primary")'
        @if(Model is null || Model?.Type != ReactionType.Like) { <text>hx-post='@(url + "?type=Like")'</text> }
        @if(Model?.Type == ReactionType.Like) { <text>hx-delete='@url'</text> }
        hx-target="#reaction-box"
        hx-swap="outerHTML"
    >Like</button>

    <button
        class='btn @(Model?.Type == ReactionType.Dislike ? "btn-danger" : "btn-outline-danger")'
        @if(Model is null || Model?.Type != ReactionType.Dislike) { <text>hx-post='@(url + "?type=Dislike")'</text> }
        @if(Model?.Type == ReactionType.Dislike) { <text>hx-delete='@url'</text> }
        hx-target="#reaction-box"
        hx-swap="outerHTML"
    >Dislike</button>
</div>