@using VideoSharingPlatform.Web.Dtos
@model VideoResponse

@{
    var video = Model.Video;
}

<div class="container mt-4">
    <a asp-action="Index">Back to Videos</a>
    <h2>@video.Title</h2>

    <div class="embed-responsive embed-responsive-16by9">
        <video class="embed-responsive-item" controls src="@("/videos/" + video.Id + video.VideoExt)"></video>
    </div>

    <p>video.Description [Comments: @Model.CommentsCount]</p>

    <ul class="list-group mt-3">
        <li class="list-group-item">Uploaded by: video.User.UserName</li>
        <li class="list-group-item">Uploaded at: video.UpdatedAtUtc.ToString("yyyy-MM-dd HH:mm:ss")</li>
    </ul>

    <a asp-controller="Videos" asp-action="Comments" asp-route-id="@video.Id">View Comments</a>
</div>